.macaron {
    background: #F7DFD4;
}

.blush {
    background: #EABCAC;
}

.nude {
    background: #E2B091;

}

.chocolat {
    background: #874E4C;

}

.cafenoir {
    background: #32485C;

}

.glass {
    background: #EDFAFD;
}

.chill {
    background: #AED9DA;
}

.coral {
    background: #3DDAD8;

}

.bondi {
    background: #2A93D5;

}

.marina {
    background: #135589;

}

.tropical {
    background: #F5AB99;
}

.sunset {
    background: #FEB47B;
}

.heatwave {
    background: #FF7E5F;

}

.paradise {
    background: #765285;

}

.nightfall {
    background: #351C4D;

}

.ivory {
    background: #F4E8C1;
}

.azul {
    background: #A0C1B8;
}

.bolivia {
    background: #709FB0;

}

.jacaranda {
    background: #726A95;

}

.malbec {
    background: #351F39;

}

.cream {
    background: #E9DCCD;
}

.petal {
    background: #E3BAB3;
}

.burgundy {
    background: #613A43;

}

.fresh {
    background: #849974;

}

.charcoal {
    background: #36384C;

}

.rosa {
    background: #F2AD9F;
}

.ruby {
    background: #F26968;
}

.limestone {
    background: #DFE2D2;

}

.venice {
    background: #6CBF84;

}

.moss {
    background: #323339;

}

.chiffon {
    background: #F8F3E6;
}

.vanilla {
    background: #E8CC8F;
}

.buttercup {
    background: #EFAA52;

}

.rust {
    background: #AB3E16;

}

.mahogany {
    background: #48120E;

}

.cashmere {
    background: #CBC5C1;
}

.french {
    background: #A2AAB0;
}

.white {
    background: #EBECED;

}

.denim {
    background: #4C586F;

}

.gunmetal {
    background: #3E3E3B;

}